In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/Users/soundaryakoganty/Desktop/Msc Business Analytics/BA viz for managers & consultants/datasets/vgsales.csv', index_col=0)

In [97]:
df.sample(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
3749,Epic Mickey 2: The Power of Two,X360,2012.0,Action,Disney Interactive Studios,0.32,0.17,0.00,0.04,0.54
639,Ice Hockey,NES,1988.0,Sports,Nintendo,1.27,0.32,0.78,0.05,2.42
6929,Pictionary: Ultimate Edition,X360,2011.0,Misc,THQ,0.16,0.05,0.00,0.02,0.24
10132,Pac-Man Pinball Advance,GBA,2005.0,Misc,Zoo Digital Publishing,0.08,0.03,0.00,0.00,0.11
14080,NHRA Drag Racing: Countdown to the Championship,PS2,2007.0,Racing,THQ,0.02,0.01,0.00,0.00,0.04

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16291 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16291 non-null  object
 1   Platform      16291 non-null  category
 2   Year          16291 non-null  float64
 3   Genre         16291 non-null  object
 4   Publisher     16291 non-null  category
 5   NA_Sales      16291 non-null  float64
 6   EU_Sales      16291 non-null  float64
 7   JP_Sales      16291 non-null  float64
 8   Other_Sales   16291 non-null  float64
 9   Global_Sales  16291 non-null  float64
dtypes: category(2), float64(6), object(2)
memory usage: 1.2+ MB

In [9]:
df.head(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [15]:
df.sort_values(by='Global_Sales',ascending=True).head(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01
16191,Toro to Morimori,PS3,2009.0,Misc,Sony Computer Entertainment,0.00,0.00,0.01,0.0,0.01
16190,Jewel Quest II,PC,2007.0,Puzzle,Avanquest,0.00,0.01,0.00,0.0,0.01
16189,BattleForge,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.0,0.01
16188,Tantei Jinguuji Saburo: Hai to Diamond,PSP,2009.0,Adventure,Arc System Works,0.00,0.00,0.01,0.0,0.01

In [16]:
df['Publisher'].count()

16540

In [17]:
df['Platform'].count()

16598

In [19]:
df["Publisher"]=df['Publisher'].astype('category')
df['Publisher'].describe()

count               16540
unique                578
top       Electronic Arts
freq                 1351
Name: Publisher, dtype: object

In [21]:
df['Platform']=df['Platform'].astype('category')
df['Platform'].describe()

count     16598
unique       31
top          DS
freq       2163
Name: Platform, dtype: object

In [22]:
EA = df[df['Publisher']=='Electronic Arts']
EA.head(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
93,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67
100,Battlefield 3,X360,2011.0,Shooter,Electronic Arts,4.46,2.13,0.06,0.69,7.34

In [23]:
EA

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
93,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67
100,Battlefield 3,X360,2011.0,Shooter,Electronic Arts,4.46,2.13,0.06,0.69,7.34
...,...,...,...,...,...,...,...,...,...,...
16342,Command & Conquer Renegade,PC,2002.0,Shooter,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16387,Poker for Dummies,PC,2008.0,Misc,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16416,The Godfather (JP sales),X360,2006.0,Action,Electronic Arts,0.00,0.00,0.01,0.00,0.01
16542,Spore Galactic Adventures,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16557,Psychic Detective,PS,1995.0,Adventure,Electronic Arts,0.01,0.00,0.00,0.00,0.01

In [24]:
EA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1351 entries, 78 to 16557
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          1351 non-null   object
 1   Platform      1351 non-null   category
 2   Year          1339 non-null   float64
 3   Genre         1351 non-null   object
 4   Publisher     1351 non-null   category
 5   NA_Sales      1351 non-null   float64
 6   EU_Sales      1351 non-null   float64
 7   JP_Sales      1351 non-null   float64
 8   Other_Sales   1351 non-null   float64
 9   Global_Sales  1351 non-null   float64
dtypes: category(2), float64(6), object(2)
memory usage: 120.9+ KB

In [25]:
EA = EA.sort_values(by='Year', ascending=True)
EA

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
12528,Syndicate,PC,1992.0,Strategy,Electronic Arts,0.00,0.05,0.00,0.01,0.06
3507,Theme Park,PS,1994.0,Simulation,Electronic Arts,0.24,0.16,0.13,0.04,0.57
11283,Theme Park,SAT,1994.0,Simulation,Electronic Arts,0.00,0.00,0.08,0.00,0.08
5642,Extreme Pinball,PS,1995.0,Misc,Electronic Arts,0.18,0.12,0.00,0.02,0.32
2070,Road & Track Presents: The Need for Speed,PS,1995.0,Racing,Electronic Arts,0.56,0.38,0.00,0.07,1.00
...,...,...,...,...,...,...,...,...,...,...
3755,NBA Street Vol. 2,GC,NaN,Sports,Electronic Arts,0.41,0.11,0.00,0.01,0.54
4201,Tiger Woods PGA Tour 07,Wii,NaN,Sports,Electronic Arts,0.43,0.00,0.00,0.04,0.47
5164,NBA Live 2003,XB,NaN,Sports,Electronic Arts,0.31,0.04,0.00,0.01,0.36
5903,NBA Live 2003,GC,NaN,Sports,Electronic Arts,0.23,0.06,0.00,0.01,0.30
7650,Dead Space 3,PC,NaN,Action,Electronic Arts,0.02,0.15,0.00,0.02,0.20

In [26]:
EA['Year'].describe()

count    1339.000000
mean     2006.394324
std         4.612309
min      1992.000000
25%      2003.000000
50%      2007.000000
75%      2010.000000
max      2016.000000
Name: Year, dtype: float64

In [29]:
EA.isna().sum()

Name             0
Platform         0
Year            12
Genre            0
Publisher        0
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [40]:
df1 = df.groupby(['Publisher']).mean().sort_values(by='Global_Sales', ascending=False).head(50)

In [43]:
df1[df1['Year']>2000].head(20)

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,
Nintendo,2003.830460,1.161977,0.595647,0.647824,0.135605,2.541337
RedOctane,2005.750000,1.610000,0.327500,0.007500,0.227500,2.170000
Valve,2011.000000,0.830000,0.630000,0.020000,0.250000,1.740000
Hello Games,2016.000000,0.580000,0.740000,0.020000,0.260000,1.600000
Sony Computer Entertainment Europe,2011.933333,0.597333,0.600000,0.166667,0.228000,1.592667
Microsoft Game Studios,2006.746032,0.821958,0.363016,0.017249,0.098201,1.300476
Black Label Games,2002.000000,0.590000,0.460000,0.000000,0.150000,1.200000
Bethesda Softworks,2011.014493,0.559437,0.432817,0.020423,0.143099,1.156901
Valve Software,2010.333333,0.580000,0.383333,0.003333,0.106667,1.076667
LucasArts,2005.966292,0.555222,0.295889,0.002222,0.116667,0.970444
Take-Two Interactive,2008.116505,0.533874,0.286053,0.014116,0.133753,0.967409
Sony Computer Entertainment,2004.448680,0.388316,0.274846,0.108492,0.117789,0.889458
TalonSoft,2001.000000,0.490000,0.330000,0.000000,0.060000,0.870000
"mixi, Inc",2015.000000,0.000000,0.000000,0.860000,0.000000,0.860000
Electronic Arts,2006.394324,0.440466,0.274811,0.010392,0.096055,0.821850
Universal Interactive,2002.181818,0.394783,0.292609,0.010435,0.076087,0.772609
Activision,2007.224638,0.440718,0.221056,0.006708,0.077272,0.746113
Illusion Softworks,2004.000000,0.340000,0.270000,0.000000,0.090000,0.700000
Warner Bros. Interactive Entertainment,2011.778802,0.349914,0.228966,0.004483,0.080000,0.663319
Square Enix,2010.454545,0.208798,0.140858,0.214077,0.059614,0.623090

In [44]:
df2 = df[df['Year']>=2000]
df2

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [47]:
df2.groupby(['Publisher']).mean().sort_values(by='Global_Sales', ascending=False).head(20)

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,
Nintendo,2007.453333,0.943181,0.614648,0.543695,0.155238,2.257048
RedOctane,2005.750000,1.610000,0.327500,0.007500,0.227500,2.170000
Valve,2011.000000,0.830000,0.630000,0.020000,0.250000,1.740000
Hello Games,2016.000000,0.580000,0.740000,0.020000,0.260000,1.600000
Sony Computer Entertainment Europe,2011.933333,0.597333,0.600000,0.166667,0.228000,1.592667
Microsoft Game Studios,2006.844920,0.813476,0.357433,0.017433,0.098075,1.286471
Black Label Games,2002.000000,0.590000,0.460000,0.000000,0.150000,1.200000
Bethesda Softworks,2011.014493,0.571449,0.441739,0.020870,0.146377,1.181594
SquareSoft,2001.000000,0.305000,0.142500,0.661250,0.023750,1.131250
Valve Software,2010.333333,0.580000,0.383333,0.003333,0.106667,1.076667
Take-Two Interactive,2008.443609,0.541378,0.283534,0.014511,0.136992,0.976065
LucasArts,2006.500000,0.538929,0.278452,0.001786,0.118452,0.938333
Enix Corporation,2001.538462,0.023077,0.016923,0.870000,0.007692,0.917692
TalonSoft,2001.000000,0.490000,0.330000,0.000000,0.060000,0.870000
"mixi, Inc",2015.000000,0.000000,0.000000,0.860000,0.000000,0.860000
Sony Computer Entertainment,2006.698292,0.360968,0.269602,0.060038,0.135806,0.826471
Electronic Arts,2007.189277,0.429293,0.278830,0.010496,0.100455,0.819180
Universal Interactive,2002.181818,0.409091,0.302727,0.010909,0.078636,0.800000
Activision,2008.231868,0.434264,0.222044,0.006703,0.080648,0.744066
Illusion Softworks,2004.000000,0.340000,0.270000,0.000000,0.090000,0.700000

In [104]:
df = df.dropna()
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [105]:
print(df.duplicated())

Rank
1        False
2        False
3        False
4        False
5        False
         ...
16596    False
16597    False
16598    False
16599    False
16600    False
Length: 16291, dtype: bool

In [106]:
df= df.drop_duplicates()

In [107]:
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [108]:
df1 = df.groupby(['Publisher']).mean().sort_values(by='Global_Sales', ascending=False).head(50)
df2 = df[df['Year']>=2000]

In [109]:
df2.sample(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
2078,Wheel of Fortune,Wii,2010.0,Misc,THQ,0.89,0.04,0.0,0.06,1.00
4892,Monster Jam: Urban Assault,DS,2008.0,Racing,Activision,0.37,0.00,0.0,0.03,0.39
4345,TNA iMPACT!,X360,2008.0,Fighting,Midway Games,0.26,0.15,0.0,0.04,0.45
8484,Gunslingers,Wii,2010.0,Shooter,Neko Entertainment,0.08,0.06,0.0,0.02,0.16
12692,Noddy in Toyland,DS,2011.0,Misc,GSP,0.00,0.05,0.0,0.01,0.06

In [110]:
df2 = df2.drop_duplicates()
df2.to_csv('df2.csv', index=False)

In [111]:
df2.to_excel('df2.xlsx', sheet_name='vgs_full')

In [93]:
dfs = df2.groupby(['Publisher']).mean().sort_values(by='Global_Sales', ascending=False).head(20)
dfs

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,
Nintendo,2007.453333,0.943181,0.614648,0.543695,0.155238,2.257048
RedOctane,2005.750000,1.610000,0.327500,0.007500,0.227500,2.170000
Valve,2011.000000,0.830000,0.630000,0.020000,0.250000,1.740000
Hello Games,2016.000000,0.580000,0.740000,0.020000,0.260000,1.600000
Sony Computer Entertainment Europe,2011.933333,0.597333,0.600000,0.166667,0.228000,1.592667
Microsoft Game Studios,2006.844920,0.813476,0.357433,0.017433,0.098075,1.286471
Black Label Games,2002.000000,0.590000,0.460000,0.000000,0.150000,1.200000
Bethesda Softworks,2011.014493,0.571449,0.441739,0.020870,0.146377,1.181594
SquareSoft,2001.000000,0.305000,0.142500,0.661250,0.023750,1.131250
Valve Software,2010.333333,0.580000,0.383333,0.003333,0.106667,1.076667
Take-Two Interactive,2008.443609,0.541378,0.283534,0.014511,0.136992,0.976065
LucasArts,2006.500000,0.538929,0.278452,0.001786,0.118452,0.938333
Enix Corporation,2001.538462,0.023077,0.016923,0.870000,0.007692,0.917692
TalonSoft,2001.000000,0.490000,0.330000,0.000000,0.060000,0.870000
"mixi, Inc",2015.000000,0.000000,0.000000,0.860000,0.000000,0.860000
Sony Computer Entertainment,2006.698292,0.360968,0.269602,0.060038,0.135806,0.826471
Electronic Arts,2007.189277,0.429293,0.278830,0.010496,0.100455,0.819180
Universal Interactive,2002.181818,0.409091,0.302727,0.010909,0.078636,0.800000
Activision,2008.231868,0.434264,0.222044,0.006703,0.080648,0.744066
Illusion Softworks,2004.000000,0.340000,0.270000,0.000000,0.090000,0.700000

In [96]:
dfs.to_excel('publisher_sales.xlsx', sheet_name='global_sales_avg')

In [90]:
dfc = df2['Publisher'].value_counts().head(20)
print(dfc)

Electronic Arts                           1231
Activision                                 910
Ubisoft                                    899
Namco Bandai Games                         840
Konami Digital Entertainment               698
THQ                                        688
Sony Computer Entertainment                527
Nintendo                                   525
Sega                                       516
Take-Two Interactive                       399
Capcom                                     326
Tecmo Koei                                 312
Atari                                      297
Square Enix                                231
Warner Bros. Interactive Entertainment     217
Disney Interactive Studios                 213
505 Games                                  192
Microsoft Game Studios                     187
D3Publisher                                182
Midway Games                               174
Name: Publisher, dtype: int64

In [95]:
dfc.to_excel('publisher.xlsx')

In [121]:
df3 = df2.loc[df2['Publisher'].isin(['Nintendo','RedOctane','Valve','Hello Games','Sony Computer Entertainment Europe','Microsoft Game Studios','Black Label Games','Bethesda Softworks','SquareSoft','Valve Software','Take-Two Interactive','LucasArts','Enix Corporation', 'TalonSoft', 'mixi, Inc','Universal Interactive','Illusion Softworks', 'Sony Computer Entertainment','Electronic Arts','Activision'])]
df3.sample(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
12336,Famicom Mini: Balloon Fight,GBA,2004.0,Action,Nintendo,0.00,0.00,0.06,0.00,0.06
3945,Wolfenstein: The New Order,PS3,2014.0,Shooter,Bethesda Softworks,0.14,0.25,0.02,0.09,0.51
6097,Links 2004,XB,2003.0,Sports,Microsoft Game Studios,0.21,0.06,0.00,0.01,0.29
3587,Need for Speed: Most Wanted,GC,2005.0,Racing,Electronic Arts,0.43,0.11,0.00,0.02,0.56
10033,SingStar Latino,PS3,2009.0,Misc,Sony Computer Entertainment,0.11,0.00,0.00,0.01,0.11

In [79]:
print(df3.loc[df3['Publisher']=='Electronic Arts'])

                               Name Platform    Year       Genre  \
Rank
78                          FIFA 16      PS4  2015.0      Sports
83                   FIFA Soccer 13      PS3  2012.0      Action
84                       The Sims 3       PC  2009.0  Simulation
93     Star Wars Battlefront (2015)      PS4  2015.0     Shooter
100                   Battlefield 3     X360  2011.0     Shooter
...                             ...      ...     ...         ...
16189                   BattleForge       PC  2009.0    Strategy
16342    Command & Conquer Renegade       PC  2002.0     Shooter
16387             Poker for Dummies       PC  2008.0        Misc
16416      The Godfather (JP sales)     X360  2006.0      Action
16542     Spore Galactic Adventures       PC  2009.0    Strategy

             Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Rank
78     Electronic Arts      1.11      6.06      0.06         1.26
83     Electronic Arts      1.06      5.05      0.13         2.01
84     Electronic Arts      0.98      6.42      0.00         0.71
93     Electronic Arts      2.93      3.29      0.22         1.23
100    Electronic Arts      4.46      2.13      0.06         0.69
...                ...       ...       ...       ...          ...
16189  Electronic Arts      0.00      0.01      0.00         0.00
16342  Electronic Arts      0.00      0.01      0.00         0.00
16387  Electronic Arts      0.00      0.01      0.00         0.00
16416  Electronic Arts      0.00      0.00      0.01         0.00
16542  Electronic Arts      0.00      0.01      0.00         0.00

       Global_Sales
Rank
78             8.49
83             8.24
84             8.11
93             7.67
100            7.34
...             ...
16189          0.01
16342          0.01
16387          0.01
16416          0.01
16542          0.01

[1231 rows x 10 columns]

In [122]:
df3

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
...,...,...,...,...,...,...,...,...,...,...
16540,Transformers: Fall of Cybertron,PC,2012.0,Action,Activision,0.01,0.00,0.00,0.00,0.01
16542,Spore Galactic Adventures,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16545,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01
16571,XI Coliseum,PSP,2006.0,Puzzle,Sony Computer Entertainment,0.00,0.00,0.01,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [123]:
df3.to_excel('df3.xlsx', sheet_name='vgs_clean')